.carta{
    border: 8px rgba(255, 208, 0, 0.685) solid;
    border-radius: 7px;
    width:250px;
    height:400px;    
    float:left;    
    padding: 12px;
    margin: 5px;
    }
.cabecero{
margin-bottom: 10px;
    
}
.hp{
    float: right;
}
.centro{
    background-image:url(img/pokemon-background.png);
}
.h3{
    margin-left: 100px;
}
.titulo{
    font: bold;
    font-size: 20px;

}

.foto {
    width: 250px;
    height: 250px;
}
.fondo {
    background-image: url("./img/pokemon-background.png");
    border: 2px solid rgb(185, 159, 12);
    border-radius: 2px;
  
}
.habilidades {
    margin-top: 10px;
    margin-bottom: 2px;
}
.fuego{
    background-color: rgba(226, 91, 13, 0.753);

}
.rayo{
    background-color: rgb(238, 213, 102);

}
.agua{
    background-color: rgb(119, 189, 189);
}
.yerba{
    background-color: greenyellow;

}